@use "../../styles/variables" as var;
@use "../../styles/mixins" as mix;

.contentWrapper {
  @include mix.flex-row;
  gap: calc(#{var.$defaultSpacing} * 2);
  position: relative;
  height: 70dvh;
  width: 70dvw;
}

main {
  width: 100%;
  background-color: var.$backgroundColor;
  border-radius: calc(#{var.$defaultBorderRadius * 3});
}

.mainSignedOff {
  @include mix.flex-column;
  @include mix.justify-content-space-around;
  @include mix.align-items-center;

  background-color: var.$backgroundColor;
  width: 100%;
  height: 100%;
  position: relative;
}

.mainSignedIn {
}

$iconBigSize: 21%;
$iconSmallSize: calc(#{$iconBigSize}/ 2);
$iconYDistance: 15%;
.iconBig {
  position: absolute;
  top: $iconYDistance;
  left: calc(#{$iconBigSize}/ -2);
  height: $iconBigSize;
  width: $iconBigSize;
}

.iconSmall {
  position: absolute;
  right: calc(#{$iconSmallSize}/ -2);
  bottom: $iconYDistance;
  height: $iconSmallSize;
  width: $iconSmallSize;
}

.iconBig,
.iconSmall {
  position: absolute;
}
