$primaryColor: #5b64b4;
$secondaryColor: #e84a8f;
$accentColor: #e5b4c6;
$textColor: #2c2c2c;
$accentDark: #737172;
$backgroundColor: #fdfdfa;

$defaultSpacing: 8px;
$defaultBorderRadius: 8px;
$defaultBorderWidth: 2px;

$font: "Roboto", sans-serif;
$altFont: "Josefin Slab", serif;

$grade1Font: 32px;
$grade2Font: 24px;
$grade3Font: 21px;
$grade4Font: 16px;
$grade5Font: 13px;
$grade6Font: 11px;

$navbarWidth: 25%;

// horizontal resolutions:
$miniMobileX: 340px;
$mobileX: 512px;
$tabletX: 720px;
$tabletPlusX: 900px;
$hdX: 1280px;
$fullHdX: 1920px;
$twoKX: 2560px;
$fourKX: 3840px;

// animations
$defaultTransitionTime: 0.2s;
